@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80%{
    opacity: 0.8;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
